<h1 class="navbar"><a routerLink="/">{{title}}</a></h1>

<!-- Botones centrales del navbar --->
<button class="btn" style="font-size: 1.5em;" (click)="menu()">rbac</button>

<div *ngIf="logueado" class="dropdown-navbar navbar">
  <div *ngFor="let menu of menues_padres" class="d-inline-block opciones">
    <div ngbDropdown class="d-inline-block opciones">
      <button class="btn btn-outline-primary" id="dropdownOpcionUno" ngbDropdownToggle>{{menu.desc}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownOpcionUno">
        <div *ngFor="let hijo of conseguirMenuesHijos(menu)">
          <a href="{{hijo.url}}" class="dropdown-item">{{hijo.desc}}</a>
        </div>
      </div>
    </div>
  </div>
  <!--<div ngbDropdown class="d-inline-block opciones">
    <button class="btn btn-outline-primary" id="dropdownOpcionDos" ngbDropdownToggle>Opcion 2</button>
    <div class="dropdown-menu" aria-labelledby="dropdownOpcionDos">
      <a href="/logout" class="dropdown-item">B</a>
    </div>
  </div>--->
</div>

<!-- Login y logout, a la derecha --->
<div class="botones-login navbar">
  <div *ngIf="logueado" ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownLoguin" ngbDropdownToggle>{{usuario}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownLoguin">
          <a href="/logout" class="dropdown-item">Logout</a>
      </div>
  </div>

  <div *ngIf="!logueado">
    <nav><a routerLink="/login" routerLinkActive="active">Login</a></nav>
  </div>
</div>

<!--</div> -->
<router-outlet></router-outlet>
